In [1]:
import pandas as pd
from numpy import*

In [2]:
lp_gauss1 = pd.read_csv('new_bands_/lk_point_gauss_211.2.csv')
lp_gauss2 = pd.read_csv('new_bands_/lk_point_gauss_345.2.csv')
lp_gauss3 = pd.read_csv('new_bands_/lk_point_gauss_3673.2.csv')

In [3]:
lp_gauss3

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,had1,had2,z1,z2,mins,maxx,fit_line,conv,valid_min,valid_max,reference
0,0,0,0,300.0,200.0,0.25,0.150,-0.013425,0.002208,NaN,-0.010766,True,True,-0.016370
1,1,1,1,300.0,200.0,0.25,0.222,-0.028464,0.003123,NaN,-0.023279,True,True,-0.023592
2,2,2,2,300.0,200.0,0.25,0.294,-0.042884,0.003433,NaN,-0.035372,True,True,-0.030321
3,3,3,3,300.0,200.0,0.25,0.367,-0.054920,0.004581,NaN,-0.045260,True,True,-0.036255
4,4,4,4,300.0,200.0,0.25,0.439,-0.064357,0.005974,NaN,-0.052982,True,True,-0.041377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,155,155,155,310.0,205.0,0.60,0.511,-0.073877,-0.022768,NaN,-0.061567,True,True,-0.021081
156,156,156,156,310.0,205.0,0.60,0.583,-0.077637,-0.023921,NaN,-0.064462,True,True,-0.022167
157,157,157,157,310.0,205.0,0.60,0.656,-0.080953,-0.024930,NaN,-0.066976,True,True,-0.023029
158,158,158,158,310.0,205.0,0.60,0.728,-0.083731,-0.025763,NaN,-0.069053,True,True,-0.023728
159,159,159,159,310.0,205.0,0.60,0.800,-0.086059,-0.026456,NaN,-0.070775,True,True,-0.024323

In [4]:
lp_tot = lp_gauss1
lp_tot = lp_tot.drop('mins',1)
lp_tot = lp_tot.drop('maxx',1)
lp_tot = lp_tot.drop('valid_min',1)
lp_tot = lp_tot.drop('valid_max',1)
lp_tot = lp_tot.drop('fit_line',1)

In [5]:
lp_tot

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,had1,had2,z1,z2,conv,reference
0,0,0,0,300.0,200.0,0.25,0.150,-0.010766,-0.016370
1,1,1,1,300.0,200.0,0.25,0.222,-0.023279,-0.023592
2,2,2,2,300.0,200.0,0.25,0.294,-0.035372,-0.030321
3,3,3,3,300.0,200.0,0.25,0.367,-0.045260,-0.036255
4,4,4,4,300.0,200.0,0.25,0.439,-0.052982,-0.041377
...,...,...,...,...,...,...,...,...,...
155,155,155,155,310.0,205.0,0.60,0.511,-0.061567,-0.021081
156,156,156,156,310.0,205.0,0.60,0.583,-0.064462,-0.022167
157,157,157,157,310.0,205.0,0.60,0.656,-0.066976,-0.023029
158,158,158,158,310.0,205.0,0.60,0.728,-0.069053,-0.023728
159,159,159,159,310.0,205.0,0.60,0.800,-0.070775,-0.024323

In [6]:
lp_tot['valid']=lp_gauss1['mins']<lp_gauss2['mins']

In [7]:
mn = zeros(len(lp_tot.valid))
i=0
for vld,min1,min2 in zip(lp_tot.valid,lp_gauss1.mins,lp_gauss2.mins):
    if vld == True: mn[i] = min1
    elif vld == False: mn[i] = min2

    i+=1 
lp_tot['mins'] = mn

In [8]:
lp_tot

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,had1,had2,z1,z2,conv,reference,valid,mins
0,0,0,0,300.0,200.0,0.25,0.150,-0.010766,-0.016370,False,-0.013805
1,1,1,1,300.0,200.0,0.25,0.222,-0.023279,-0.023592,False,-0.029186
2,2,2,2,300.0,200.0,0.25,0.294,-0.035372,-0.030321,False,-0.043659
3,3,3,3,300.0,200.0,0.25,0.367,-0.045260,-0.036255,True,-0.056013
4,4,4,4,300.0,200.0,0.25,0.439,-0.052982,-0.041377,True,-0.066291
...,...,...,...,...,...,...,...,...,...,...,...
155,155,155,155,310.0,205.0,0.60,0.511,-0.061567,-0.021081,False,-0.074602
156,156,156,156,310.0,205.0,0.60,0.583,-0.064462,-0.022167,False,-0.078111
157,157,157,157,310.0,205.0,0.60,0.656,-0.066976,-0.023029,False,-0.081164
158,158,158,158,310.0,205.0,0.60,0.728,-0.069053,-0.023728,False,-0.083693
159,159,159,159,310.0,205.0,0.60,0.800,-0.070775,-0.024323,False,-0.085794

In [9]:
lp_tot=lp_tot.drop('valid',1)
lp_tot['valid'] = lp_tot['mins']<lp_gauss3['mins']

In [10]:
lp_tot

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,had1,had2,z1,z2,conv,reference,mins,valid
0,0,0,0,300.0,200.0,0.25,0.150,-0.010766,-0.016370,-0.013805,True
1,1,1,1,300.0,200.0,0.25,0.222,-0.023279,-0.023592,-0.029186,True
2,2,2,2,300.0,200.0,0.25,0.294,-0.035372,-0.030321,-0.043659,True
3,3,3,3,300.0,200.0,0.25,0.367,-0.045260,-0.036255,-0.056013,True
4,4,4,4,300.0,200.0,0.25,0.439,-0.052982,-0.041377,-0.066291,True
...,...,...,...,...,...,...,...,...,...,...,...
155,155,155,155,310.0,205.0,0.60,0.511,-0.061567,-0.021081,-0.074602,True
156,156,156,156,310.0,205.0,0.60,0.583,-0.064462,-0.022167,-0.078111,True
157,157,157,157,310.0,205.0,0.60,0.656,-0.066976,-0.023029,-0.081164,True
158,158,158,158,310.0,205.0,0.60,0.728,-0.069053,-0.023728,-0.083693,False
159,159,159,159,310.0,205.0,0.60,0.800,-0.070775,-0.024323,-0.085794,False

In [11]:
mn = zeros(len(lp_tot.valid))
i=0
for vld,min1,min2 in zip(lp_tot.valid,lp_tot.mins,lp_gauss3.mins):
    if vld == True: mn[i] = min1
    elif vld == False: mn[i] = min2

    i+=1   
lp_tot['mins'] = mn

In [12]:
lp_tot

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,had1,had2,z1,z2,conv,reference,mins,valid
0,0,0,0,300.0,200.0,0.25,0.150,-0.010766,-0.016370,-0.013805,True
1,1,1,1,300.0,200.0,0.25,0.222,-0.023279,-0.023592,-0.029186,True
2,2,2,2,300.0,200.0,0.25,0.294,-0.035372,-0.030321,-0.043659,True
3,3,3,3,300.0,200.0,0.25,0.367,-0.045260,-0.036255,-0.056013,True
4,4,4,4,300.0,200.0,0.25,0.439,-0.052982,-0.041377,-0.066291,True
...,...,...,...,...,...,...,...,...,...,...,...
155,155,155,155,310.0,205.0,0.60,0.511,-0.061567,-0.021081,-0.074602,True
156,156,156,156,310.0,205.0,0.60,0.583,-0.064462,-0.022167,-0.078111,True
157,157,157,157,310.0,205.0,0.60,0.656,-0.066976,-0.023029,-0.081164,True
158,158,158,158,310.0,205.0,0.60,0.728,-0.069053,-0.023728,-0.083731,False
159,159,159,159,310.0,205.0,0.60,0.800,-0.070775,-0.024323,-0.086059,False

In [13]:
lp_tot=lp_tot.drop('valid',1)

In [14]:
lp_tot['valid']=lp_gauss1.maxx>lp_gauss2.maxx

In [15]:
mn = zeros(len(lp_tot.valid))
i=0
for vld,max1,max2 in zip(lp_tot.valid,lp_gauss1.maxx,lp_gauss2.maxx):
    if vld == True: mn[i] = max1
    elif vld == False: mn[i] = max2

    i+=1 
lp_tot['maxx'] = mn

In [16]:
lp_tot=lp_tot.drop('valid',1)

In [17]:
lp_tot['valid']=lp_tot.maxx>lp_gauss3.maxx

In [18]:
mn = zeros(len(lp_tot.valid))
i=0
for vld,max1,max2 in zip(lp_tot.valid,lp_tot.maxx,lp_gauss3.maxx):
    if vld == True: mn[i] = max1
    elif vld == False: mn[i] = max2

    i+=1 
lp_tot['maxx'] = mn

In [19]:
lp_tot

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,had1,had2,z1,z2,conv,reference,mins,maxx,valid
0,0,0,0,300.0,200.0,0.25,0.150,-0.010766,-0.016370,-0.013805,0.004393,True
1,1,1,1,300.0,200.0,0.25,0.222,-0.023279,-0.023592,-0.029186,0.011347,True
2,2,2,2,300.0,200.0,0.25,0.294,-0.035372,-0.030321,-0.043659,0.021154,True
3,3,3,3,300.0,200.0,0.25,0.367,-0.045260,-0.036255,-0.056013,0.031068,True
4,4,4,4,300.0,200.0,0.25,0.439,-0.052982,-0.041377,-0.066291,0.039931,True
...,...,...,...,...,...,...,...,...,...,...,...,...
155,155,155,155,310.0,205.0,0.60,0.511,-0.061567,-0.021081,-0.074602,-0.022768,False
156,156,156,156,310.0,205.0,0.60,0.583,-0.064462,-0.022167,-0.078111,-0.023921,False
157,157,157,157,310.0,205.0,0.60,0.656,-0.066976,-0.023029,-0.081164,-0.024930,False
158,158,158,158,310.0,205.0,0.60,0.728,-0.069053,-0.023728,-0.083731,-0.025763,False
159,159,159,159,310.0,205.0,0.60,0.800,-0.070775,-0.024323,-0.086059,-0.026456,False

In [20]:
lp_tot=lp_tot.drop('valid',1)

In [21]:
lp_tot

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,had1,had2,z1,z2,conv,reference,mins,maxx
0,0,0,0,300.0,200.0,0.25,0.150,-0.010766,-0.016370,-0.013805,0.004393
1,1,1,1,300.0,200.0,0.25,0.222,-0.023279,-0.023592,-0.029186,0.011347
2,2,2,2,300.0,200.0,0.25,0.294,-0.035372,-0.030321,-0.043659,0.021154
3,3,3,3,300.0,200.0,0.25,0.367,-0.045260,-0.036255,-0.056013,0.031068
4,4,4,4,300.0,200.0,0.25,0.439,-0.052982,-0.041377,-0.066291,0.039931
...,...,...,...,...,...,...,...,...,...,...,...
155,155,155,155,310.0,205.0,0.60,0.511,-0.061567,-0.021081,-0.074602,-0.022768
156,156,156,156,310.0,205.0,0.60,0.583,-0.064462,-0.022167,-0.078111,-0.023921
157,157,157,157,310.0,205.0,0.60,0.656,-0.066976,-0.023029,-0.081164,-0.024930
158,158,158,158,310.0,205.0,0.60,0.728,-0.069053,-0.023728,-0.083731,-0.025763
159,159,159,159,310.0,205.0,0.60,0.800,-0.070775,-0.024323,-0.086059,-0.026456

In [22]:
lp_tot['valid_min']=lp_tot['conv']>lp_tot['mins']
lp_tot['valid_max']=lp_tot['conv']<lp_tot['maxx']

In [23]:
lp_tot.index[lp_tot['valid_min'] == False].tolist()

[]

In [24]:
lp_tot.index[lp_tot['valid_max'] == False].tolist()

[]

In [25]:
lp_tot.to_csv('new_bands_/lk_point_gauss_tot.csv')